
.container1{
   width: 300px;
   height: 100vh;
   background-color: #F5B82E;
   font-family: 'russo one';
   position: sticky;
   top: 0;
}
.photo{
  height: 32vh;
  background-color: #555555;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-mine{
  height: 27vh;
  width: 27vh;
  border-radius: 50%;
  border: 5px solid white;
}
.navBars{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}
.navBars a{
  margin-top: 30px;
  text-decoration: none;
  color: #252323;
  font-size: 1.1rem;
}
.navBars a:hover{
  color:white;
 

}