*{
    margin:0;
    padding: 0;
    color: black;
}
.Small{
    display: flex;
    flex-direction: row;
}
.BigContainer{
    height: 100vh;
    width: 70%;
  
}
.about{
    background-color: #ececec;
    height: 100vh;
    width: 100%;
}
.about-upper{
    margin-left: 5vh;
    margin-right: 14vh;
    margin-top:10vh ;
    width: 75vw;
}
.about-main{
    font-family: 'russo one';
    color: #141414;
    font-size: 5rem;
    margin-left: 3vh;
    padding-bottom: 20px;
 }

.about-designation{
    opacity: 0.7;
    font-family:'Bebas Neue';
    margin-left: 20px;
}
.about-name{
    font-weight: bolder;
    font-family: 'russo one';
    margin-left: 5px;
    margin-right: 5px;
}

.about-description{
    opacity: 0.7;
    margin-left: 3vh;
   
}
.facts-figures{
    margin-left: 8%;
    height: 60vh;
    height: 100vh;
    width: 100%;
}
.row{
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.skills-container{
    height: 70vh;
    width: 100%;
    margin-left: 10vh;
    display: flex;
    flex-direction: row;
}
.about-h3{
    color: #141414;
    background-color: #f5b82e;
    width: 20vw;
    text-align: center;
    border-radius: 20px;
}
.about-skills{
    width: 50%;
    height: 70vh;
    padding: 10px;
}
.profession{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.talent{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    margin: 10px;
    justify-content: space-around;
}
.left-icons{
    font-size: 70px;
    color: #141414;
    background-color: #f5b82e;
    padding: 20px;
    border-radius: 50%;
}
.define-icons{
    margin-left: 30px;
}
.exact-skill{
    
    font-size: 1.1rem;
}
.exact-skill-para{
    font-size:0.9rem;
    opacity: 0.7;
}




.fun-facts{
    height: 70vh;
    width: 50%;
}
.passion{
    height: 67vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}

.activities{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.icon{
    font-size: 70px;
    margin-top: 60px;
    background-color: #141414;
    padding: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.icon i {
    color: #f5b82e;
}
.define-icon{
    font-size: 20px;
    margin-top: 30px;
}